# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Temporary files
*.log
*.swp
*.swo
*~

# IDE
.vscode/
.idea/
*.iml

# Build outputs
build/
*.app
*.apk
*.aab
*.ipa

# CocoaPods
ios/Pods/
ios/build/
android/app/build/
android/.gradle/
android/build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# CodePush
CodePush/*
